# Dev environment
pip
autopep8

# App
fastapi
uvicorn
mcp-use
langchain-ollama
mcp
celery
redis
ollama
SQLAlchemy
alembic
passlib[bcrypt]
python-jose
python-dotenv
gunicorn

# Database Drivers
psycopg2-binary
PyMySQL
